.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.trending, .page-main, .shop-showcase, .page-footer {
	margin-top: 50px;
}

.sidebar__block {
	margin-top: 61px;
}

.sidebar__block_first {
	margin-top: 0;
}

.section-title {
	font-size: 20px;
}

.section-title_sidebar {
	font-size: 14px;
}

.section-title::after {
	margin-bottom: 28px;
}

.section-title_sidebar::after {
	margin-bottom: 24px;
}

.page-header {
	background-image: url("../images/banner-bg.jpg");
}

.page-header__wrapper {
	padding-top: 28px;
	padding-bottom: 145px;
}

.page-header__logo {
	width: 180px;
	height: 40px;
}

.page-header__nav-list {
	display: flex;
}

.page-header__nav-item {
	margin-left: 35px;
}

.page-header__nav-item_first {
	margin-left: 0;
}

.page-header__nav-link {
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
}

.page-header__nav-link:hover {
	text-decoration: underline;
}

.page-header__hero {
	width: 720px;
	margin: 127px auto 0;
}

.page-header__title {
	font-size: 45px;
	line-height: 1.667;
}

.trending {
	max-width: 1660px;
	margin-left: auto;
	margin-right: auto;
}

.trending__item {
	flex-basis: calc(25% - 3px); 
	margin-bottom: 4px;
}

.trending__card {
	min-height: 320px;
	padding-left: 20px;
	padding-right: 20px;
}

.trending__card-body {
	padding: 38px 31px 36px;
}

.trending__card-title {
	font-size: 20px;
}

.page-main {
	display: flex;
	justify-content: space-between;
}

.page-main__primary {
	width: 790px; 
}

.page-main__sidebar {
	width: 271px;
}

.featured-posts__item {
	margin-top: 59px;
}

.featured-posts__item_featured {
	margin-top: 0;
}

.post-card_large {
	display: flex;
}

.post-card__media {
	width: 380px;
	height: 294px;
	margin-right: 30px;
}

.post-card__body {
	width: 380px;
}

.post-card__title {
	font-size: 20px;
}

.post-card__meta {
	margin-top: 38px;
}

.post-card__excerpt {
	margin-top: 58px;
	font-size: 15px;
	line-height: 1.467;
}

.post-card__excerpt-paragraph_second {
	margin-top: 25px;
}

.shop-showcase__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.shop-showcase__item {
	flex: 0 1 calc(33% - 43px);
}

.shop-showcase__item::after {
	top: 173px;
}

.shop-item__title {
	font-size: 20px;
	line-height: 1.2;
}

.copyright {
	padding-top: 74px;
	padding-bottom: 46px;
}

.feedback-modal__window {
	width: 390px;
	padding: 54px 30px;
}

.feedback-modal__close {
	top: -27px;
	width: 20px;
	height: 20px;
}
