body {
	min-width: 240px;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

.trending,
.featured-posts,
.sidebar__block,
.shop-showcase,
.page-footer {
	margin-top: 44px;
}

.section-title {
	font-size: 16px;
}

.page-header {
	background-image: url("../images/banner-mobile.jpg");
}

.page-header__wrapper {
	padding-top: 31px;
	padding-bottom: 60.555vw; 
}

@media (max-width: 239px) {
	.page-header__wrapper {
		padding-bottom: 145px;
	}
}

.page-header__top {
	height: 70.833vw; 
	flex-direction: column-reverse;
}

@media (max-width: 239px) {
	.page-header__top {
		height: 170px;
	}
}

.page-header__logo {
	width: 74.722vw; 
	height: 16.667vw; 
}

@media (max-width: 239px) {
	.page-header__logo {
		width: 179px;
		height: 40px;
	}
}

.page-header__nav {
	width: 23px;
	height: 20px;	
	align-self: flex-end;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../images/menu-button.png");
}

.page-header__nav-list-wrapper_hidden, .page-header__nav-link_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	font-size: 0;
}

.page-header__hero {
	margin: 12vw auto 0; 
}

@media (max-width: 239px) {
	.page-header__hero {
		margin-top: 29px;
	}
}

.page-header__title {
	font-size: 7.222vw; 
	line-height: 1.385; 
}

@media (max-width: 239px) {
	.page-header__title {
		font-size: 17px; 
	}
}

.trending__item {
	flex-basis: 100%;
	margin-bottom: 3px;
}

@media (orientation: landscape) and (min-width: 600px) {
	.trending__item {
		flex-basis: calc(50% - 2px);
	}
}

.trending__card {
	min-height: 231px;
	padding-left: 15px;
	padding-right: 15px;
}

.trending__card-body {
	padding: 30px 22px;
}

.trending__card-title {
	font-size: 16px;
}

.featured-posts__item {
	margin-bottom: 25px;
}

.featured-posts__item_featured {
	margin-top: 0;
}

.featured-posts__item::before {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	margin-bottom: 35px;
	background-color: #eeeeee;
}

.featured-posts__item_featured::before {
	display: none;
}

.post-card_large > .post-card__body {
	margin-top: 16px;
}

.post-card__meta {
	margin-top: 25px;
	margin-bottom: 23px;
}

.post-card__excerpt-paragraph_second {
	margin-top: 17px;
}

@media (max-width: 293px) {
	.recent-entry__media {
		margin-right: 9px;
	}

	.recent-entry__title {
		margin-top: 0;
	}
}

@media (max-width: 255px) {
	.recent-entry__date {
		font-size: 11px;
	}

	.recent-entry__title {
		font-size: 13px;
	}
}

.shop-showcase__item {
	margin-bottom: 25px;
}

.shop-showcase__item::after {
	top: 70vw;
}

.shop-item__title {
	font-size: 17px;
	line-height: 1.3;
}

@media (max-width: 280px) {
	.shop-showcase__item::after {
		top: 196px;
	}

	.shop-item__old-price {
		font-size: 10px;
	}

	.shop-item__new-price {
		font-size: 14px;
	}

	.shop-item__btn {
		width: 100px;
		height: 35px;
	}

	.shop-item__btn-text {
		font-size: 10px;
	}
}

.copyright {
	padding-top: 49px;
	padding-bottom: 49px;
}

.feedback-modal__window {
	min-width: 330px;
	width: calc(100vw - 30px);
	max-width: 390px;
	padding: 30px 24px;
}

.feedback-modal__close {
	top: -33px;
	width: 28px;
	height: 28px;
}
