@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Bold.ttf");
	src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
	     url("../fonts/OpenSans-Bold.woff") format("woff"),
	     url("../fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf");
	src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
	     url("../fonts/OpenSans-Regular.woff") format("woff"),
	     url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "OpenSans", "Arial", sans-serif; 
	font-weight: normal;
	color: #000000;
}

body {
	position: relative;
}

._visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

.list-reset {
	list-style-type: none;
}

.page-header {
	position: relative;
	background-color: #10192a;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.page-header::before {
	content: "";
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
}

.page-header__wrapper {
	position: relative;
	z-index: 2;
}

.page-header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-header__logo {
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../svg/noemi-logo.svg");
}

.page-header__title {
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}

.section-title {
	font-weight: bold;
	color: #0f0d0e;
	text-transform: uppercase;
	text-align: center;
}

.section-title::after {
	content: "";
	display: block;
	width: 67px;
	height: 3px;
	margin: 14px auto 24px;
	background-color: #e1d9bd;
}

.trending__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.trending__item {
	flex: 0 0 auto;
}

.trending__card {
	position: relative;
	display: flex;
	align-items: flex-end;
	height: 100%;
	padding-bottom: 15px;
	background-color: #444444;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.trending__card::before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
}

#trending-card-1 { background-image: url("../images/trend1.jpg"); }
#trending-card-2 { background-image: url("../images/trend2.jpg"); }
#trending-card-3 { background-image: url("../images/trend3.jpg"); }
#trending-card-4 { background-image: url("../images/trend4.jpg"); }

.trending__card-body {
	position: relative;
	z-index: 2; 
	width: 100%;
	border: 4px solid #b59f5b;
}

.tags-list {
	display: flex;
	flex-wrap: wrap;
}

.tags-list__item {
	margin-right: 19px;
}

.tags-list__item:last-child {
	margin-right: 0;
}

.tag-link {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.tag-link,
.tag-link:visited {
	color: #b59f5b;
}

.tag-link:hover {
	text-decoration: underline;
}

.title-link {
	margin-top: 14px;
	text-decoration: none;
}

.article-title {
	font-weight: bold;
	line-height: 1.25;
	text-transform: uppercase;
}

.article-title:hover {
	color: #b59f5b;
}

.trending__card-title {
	color: #ffffff;
}

.media-img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: auto;
}

.post-card__title,
.post-card__excerpt {
	color: #0f0d0e;
}

.post-card__meta {
	font-size: 12px;
}

.post-card__date {
	margin-right: 15px;
	color: #888888;
}

.post-card__author {
	font-weight: bold;
}

.recent-entries__item {
	margin-top: 22px;
}

.recent-entries__item_first {
	margin-top: 0;
}

.recent-entry {
	display: flex;
}

.recent-entry__media {
	flex: 0 0 70px;
	height: 70px;
	margin-right: 19px;
}

.recent-entry__body {
	flex: 1 1;
}

.recent-entry__date {
	font-size: 12px;
	opacity: 0.54;
}

.recent-entry__title {
	margin-top: 9px;
	font-size: 14px;
	line-height: 1.286;
	font-weight: bold;
}

.site-search__form {
	display: flex;
}

.site-search__input {
	flex: 1 1 222px;
}

.input-field {
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 48px;
	padding-left: 19px;
	padding-right: 19px;
	border: 0;
	border-radius: 0;
	background-color: #f4f7f6;
}

.input-field:focus {
	outline: #b59f5b solid 2px;
	outline-offset: -2px;
}

.input-field::placeholder {
	font-size: 13px;
	opacity: 0.54;
}

.site-search__submit {
	flex: 0 0 48px;
	background: url("../svg/search.svg") no-repeat center center;
	background-size: 18px 18px;
}

.btn {
	height: 48px;
	border: 0;
	border-radius: 0;
	background-color: #b59f5b;
}

.btn:hover {
	background-color: #323232;
}

.newsletter__email { 
	width: 100%;
}

.newsletter__submit {
	width: 100%;
	margin-top: 18px;
}

.btn__text {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
}

.tags-cloud__list {
	display: flex;
	flex-wrap: wrap;
}

.tags-cloud__item {
	height: 30px;
	margin-right: 5px;
	margin-bottom: 6px;
}

.tags-cloud__btn {
	display: flex;
	height: 100%;
	padding: 8px 11px;
	justify-content: center;
	align-items: center;
	border: 3px solid #ededed;
	text-decoration: none;
}

.tags-cloud__btn:hover {
	border-color: #b59f5b;
}

.tags-cloud__text {
	font-size: 12px;
	font-weight: bold;
	color: #0f0d0e;
	text-transform: uppercase;
}

.topics-list__item {
	margin-bottom: 17px;
}

.topics-list__item::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	margin-top: 17px;
	background-color: #eeeeee;
}

.topics-list__link {
	text-decoration: none;
}

.topics-list__link:hover > .topics-list__text {
	color: #b59f5b;
}

.topics-list__text {
	vertical-align: baseline;
	font-size: 14px;
	font-weight: bold;
}

.topics-list__count {
	vertical-align: super;
	font-size: 12px;
	font-weight: bold;
	color: #b59f5b;
}

.shop-showcase__item {
	position: relative;
	padding: 0 23px;
}

.shop-showcase__item::after {
	content: "";
	position: absolute;
	z-index: 1;
	right: -4px;
	bottom: -4px;
	left: -4px;
	border: 4px solid #d3c59d;
}

.shop-item__body {
	position: relative;
	z-index: 2;
	margin-top: 24px;
}

.shop-item__title {
	font-weight: bold;
	text-transform: uppercase;
	color: #0f0d0e;
}

.shop-item__desc {
	margin-top: 16px;
	font-size: 15px;
	line-height: 1.467;
	color: #0f0d0e;
}

.shop-item__link {
	text-decoration: none;
	color: #b59f5b;
}

.shop-item__link:hover {
	text-decoration: underline;
}

.shop-item__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 26px;
}

.shop-item__body::after {
	content: "";
	display: block;
	height: 25px;
}

.shop-item__prices {
	display: flex;
	flex-direction: column;
	font-size: 0;
}

.shop-item__old-price,
.shop-item__new-price {
	font-weight: bold;
	color: #0f0d0e;
}

.shop-item__old-price {
	font-size: 14px;
	text-decoration: line-through;
}

.shop-item__new-price {
	font-size: 20px;
}

.shop-item__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 49px;
	background-color: #b59f5b;
	text-decoration: none;
}

.shop-item__btn:hover {
	background-color: #0f0d0e;
}

.shop-item__btn-text {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
}

.socials {
	background-color: #f4f7f6;
}

.socials__list {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.socials__item {
	margin-left: 28px;
}

.socials__item_first {
	margin-left: 0;
}

.socials__icon {
	width: 21px;
	height: 21px;
}

.copyright__text {
	display: block;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #999999;
}

.feedback-modal {
	position: fixed;	
	z-index: 4;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.feedback-modal::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.6;
	background-color: #000000;
}

.feedback-modal__window {
	position: absolute;
	background-color: #ffffff;
}

.feedback-modal__close {
	position: absolute;
	right: 0;
}

.feedback-modal__text {
	margin-top: 33px;
	margin-bottom: 11px;
}

.feedback-modal__text, .feedback-modal__opinion, .feedback-modal__radio-label {
	font-size: 13px;
}

.feedback-modal__select-frequency {
	width: 100%;
	background: url("../svg/form-arrows.svg") no-repeat center right 14px;
	background-size: 9px;
}

.feedback-modal__radio-label::before {
	content: "";
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-right: 3px;
	vertical-align: middle;
	background: url("../svg/form-empty-circle.svg") no-repeat center center / contain;
}

.feedback-modal__radio:checked + .feedback-modal__radio-label::before {
	background-image: url("../svg/form-circle.svg");
}

.feedback-modal__radio-label {
	margin-right: 15px;
	vertical-align: middle;
}

.feedback-modal__opinion {
	min-width: 100%;
	max-width: 100%;
	min-height: 131px;
	max-height: 131px;
	padding-top: 19px;
	font-size: 13px;
}

.feedback-modal__submit {
	width: 100%;
	margin-top: 26px;
}
