.container {
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 43px;
}

.trending,
.page-main,
.shop-showcase,
.page-footer {
	margin-top: 64px;
}

.sidebar__block {
	margin-top: 61px;
}

.sidebar__block_first {
	margin-top: 0;
}

.section-title {
	font-size: 18px;
}

.section-title_sidebar {
	font-size: 14px;
}

.page-header {
	background-image: url("../images/banner-bg-tablet.jpg");
}

.page-header__wrapper {
	padding-bottom: 125px;
}

.page-header__logo {
	width: 157px;
	height: 40px;
}

.page-header__nav {
	width: 23px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../images/menu-button.png");
}

.page-header__nav-list-wrapper_hidden,
.page-header__nav-link_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	font-size: 0;
}

.page-header__hero {
	width: 100%;
	max-width: 640px;
	margin: 104px auto 0;
}

.page-header__title {
	line-height: 1.375;
}

@media (min-width: 706px) {
	.page-header__title {
		font-size: 40px;
	}
}

@media (max-width: 705px) {
	.page-header__title {
		font-size: 5.6vw; 
	}
}

.trending__item {
	flex-basis: calc(50% - 2px);
	margin-bottom: 3px;
}

@media (orientation: landscape) and (min-width: 990px) {
	.trending__item {
		flex-basis: calc(25% - 3px);
	}
}

.trending__card {
	min-height: 247px;
	padding-left: 19px;
	padding-right: 19px;
}

.trending__card-body {
	padding: 35px 30px 33px;
}

.trending__card-title {
	font-size: 17px;
}

.page-main {
	display: flex;
	justify-content: center;
}

.page-main__primary {
	flex: 0 1 392px;
	margin-right: 35px;
}

.page-main__sidebar {
	flex: 0 0 271px;
}

.featured-posts__item {
	margin-bottom: 23px;
}

.featured-posts__item_featured {
	margin-top: 0;
}

.featured-posts__item::before {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	margin-bottom: 31px;
	background-color: #eeeeee;
}

.featured-posts__item_featured::before {
	display: none;
}

.post-card_large > .post-card__body {
	margin-top: 16px;
}

.post-card__meta {
	margin-top: 39px;
	margin-bottom: 36px;
}

.post-card__excerpt-paragraph_second {
	margin-top: 25px;
}

.shop-showcase__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.shop-showcase__item {
	flex: 0 1 calc(50% - 11px);
	margin-bottom: 28px;
}

.shop-showcase__item::after {
	top: 24.87vw; 
}

.shop-item__title {
	font-size: 17px;
	line-height: 1.3;
}

.copyright {
	padding-top: 50px;
	padding-bottom: 39px;
}

.feedback-modal__window {
	width: 390px;
	padding: 54px 30px;
}

.feedback-modal__close {
	top: -37px;
	width: 28px;
	height: 28px;
}
